<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Required meta tags always come first-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<style>
		  #map {
		    height: 800px;
		  }
		</style>
		<!-- Bootstrap CSS -->
	</head>
	<body>
		{% load staticfiles %}
		<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="{% url 'mugspot:index' %}"><img src="{% static 'mugspot/logo.png' %}" width="180" height="70" alt="Logo"></a> <!-- Can I use a picture here? -->
			<ul class="nav navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'mugspot:index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'mugspot:index' %}">About</a> <!-- Why can we get rid of the span thingy above? -->
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<h1>Find spots to mug in {{ place }}:</h1>
		</div>
		<p>
			<ul>
			{% for place in list_places %}
				<li><a href="{% url 'mugspot:index' place.id %}">{{ place.spot_name }}</a>: {{ place.capacity }} seats,
					{{ place.detail_lvl }} detail, {{ place.occupied }} seats occupied.
				</li>
			{% endfor %}
			</ul>
		</p>
		<div id="map"></div>
		<script>
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 1.306, lng: 103.773},
				zoom: 18,
			});

			function geo_success(position) {
			  var latitude = position.coords.latitude;
			  var longitude = position.coords.longitude;
			  var marker_2 = new google.maps.Marker({
			    position: {lat: latitude, lng: longitude},
			    map: map,
			    title: 'Phuc',
			  });
			}

			function geo_error() {
			  alert("Sorry, no position available.");
			}

			var geo_options = {
			  enableHighAccuracy: true,
			  timeout: 27000,
			};

			navigator.geolocation.getCurrentPosition(geo_success, geo_error, geo_options);
		}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2l43VeoX5VkBh4bSXuoIRSZbzK5_YeZk&callback=initMap"
		    async defer></script>
		<!--jQuery first, then Bootstrap JS. -->
	</body>
</html>


